body
{
    background-color:slategrey;
    color:snow;
    font-family:'Helvetica';
}
.input
{
    font-family:'Helvetica';
    background-color: silver;
}
th
{
    color:silver;
    font-weight: bold;
}
.cell
{
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    background-color:lightslategray;
    border-radius: 5px;
}